static-ffmpeg
einops
tqdm
torchcodec
transformers
sounddevice
safetensors
numpy
py3langid
pysbd
onnxruntime
gradio
pyloudnorm
psutil
soundfile
qwen_asr


# Requires C++ compiled libraries
pedalboard

# en
nltk
future
wordsegment

# zh
cn2an
pypinyin
jieba

# ja
pyopenjtalk-plus
